<div class='container'>
    <div class='dice'>
        <img src={{ img1 }} alt="picture of first dice roll">
    </div>
    <div class='dice'>
        <img src={{ img2 }} alt="picture of second dice roll">
    </div>
</div>